.wrap{
    padding: 20px;
    border-radius: 10px;
    background: #fff;
}

.country-columns {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.country-columns .column{
    margin-right:20px;
}

.country-columns .single-block h1{
    margin-bottom: 12px;
}
.country-columns .single-block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    margin-top: 15px;
}
    /* Style the checkboxes */
input[type="checkbox"] {
    appearance: none; /* Remove default checkbox appearance */
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 16px; /* Set the desired width of the checkbox */
    height: 16px; /* Set the desired height of the checkbox */
    border: 1px solid #ccc; /* Add a border */
    border-radius: 3px; /* Add some border radius for rounded corners */
    outline: none; /* Remove the default focus outline */
    cursor: pointer; /* Show a pointer cursor when hovering */
    position: relative;
}

/* Style the checked state of the checkboxes */
input[type="checkbox"]:checked::before {
    content: "\2713"; /* Unicode checkmark character */
    display: block;
    width: 16px; /* Set the same width as the checkbox */
    height: 16px; /* Set the same height as the checkbox */
    background-color: #0073e6; /* Set the background color for checked checkboxes */
    border: 1px solid #0073e6; /* Set the border color for checked checkboxes */
    border-radius: 3px; /* Add some border radius for rounded corners */
    color: #fff; /* Set the text color for the checkmark */
    text-align: center;
    line-height: 16px; /* Center the checkmark vertically */
    position: absolute;
    top: 2px;
    left: 3px;
    font-size: 12px; /* Adjust the font size as needed */
}

/* Style the label text next to the checkboxes */
label {
    display: inline-block;
    margin-left: 8px;
    margin-top: 15px;
    font-size: 14px;
}


@media (max-width:768px) {
    .country-columns {
        flex-direction: column;
    }
}